
@{
    ViewBag.Title = "Test2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*PHẦN MAIN*@
<div class="main">
    <div class="container">
        <div class="size-4items">
            <div class="block-title">
                <h3 class="title-main">Trà Tại Nhà</h3>
            </div>
            <div class="flex-wrap">
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1669706771_bg-tradao-min_3344e53909f14a54a03ebf674b83bad4_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Trà Vị Đào Tearoma 14x14g</a>
                        </h3>
                        <div class="price-product-items">32.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1669880647_bg-trasua-min_6acdad305af04580904044ec17773a6b_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Trà Sữa Trân Châu Tearoma 250g</a>
                        </h3>
                        <div class="price-product-items">38.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1669706748_bg-tratatmatong-min_576a67aca28949ca87cac267b22cbc54_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Trà Vị Tắc Mật Ong Tearoma 14x14g</a>
                        </h3>
                        <div class="price-product-items">32.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1639646968_tra-oolong-tui-loc-tearoma-20x2gr_76684f0c1291424bbdd078c5f5605e9b_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Trà Oolong Túi Lọc Tearoma 20x2G</a>
                        </h3>
                        <div class="price-product-items">28.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1639647075_tra-lai-tui-loc-tearoma-20x2gr_a0087025c4624a8aa80ef8c924501fc9_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Trà Lài Túi Lọc Tearoma 20x2G</a>
                        </h3>
                        <div class="price-product-items">28.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1639648068_tra-sen-tui-loc-tearoma-20x2gr_e6ab8143d90044bfb9d71583faa4ff77_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Trà Sen Túi Lọc Tearoma 20x2G</a>
                        </h3>
                        <div class="price-product-items">28.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1639646846_tra-dao-tui-loc-tearoma-20x2gr_e2c0d59d67414e6399d4e489c0295236_large.jpg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Trà Đào Túi Lọc Tearoma 20x2G</a>
                        </h3>
                        <div class="price-product-items">28.000 đ</div>
                    </div>
                </div>
                <div class="menu-items">
                    <div class="menu-items-image">
                        <a href=""><img src="//product.hstatic.net/1000075078/product/1641440575_gift-set-tearoma-1_ed08ffbbb760446a937406c1af19e5f7_large.jpeg" /></a>
                    </div>
                    <div class="menu-items-info">
                        <h3>
                            <a href="">Giftset Trà Tearoma</a>
                        </h3>
                        <div class="price-product-items">166.000 đ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>