<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/CssCaPhe.css" rel="stylesheet" />
</head>
<body>
        @*PHẦN HEADER ĐẦU*@
        <div class="header-first">
            <div class="container">
                <div class="header-inner">
                    <div class="box2">
                        <a href="">
                            <img src="https://file.hstatic.net/1000075078/file/vector_706a88566eab4f009bed6eea93cd890b.png" />
                            <span>150 cửa hàng khắp cả nước</span>
                        </a>
                    </div>
                    <div class="box2">
                        <a href="">
                            <img src="https://file.hstatic.net/1000075078/file/group_8de276faa50c486b9d485826c506803b.png" />
                            <span style="text-decoration: none">Đặt hàng: 1800.6936</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        @*PHẦN NAV*@
        <div class="header-second">
            <div class="logo-warp">
                <div class="logo">
                    <img style="height:100px;width:200px;" src="~/img/The-Coffee-House-Logo-PNG-2.png" />
                </div>
                <ul class="header-nav">
                    <li><a href="">Cà phê</a></li>
                    <li><a href="">Trà</a></li>
                    <li><a href="">Menu</a></li>
                    <li><a href="">Chuyện Nhà</a></li>
                    <li><a href="">Cảm hứng CloudFee</a></li>
                    <li><a href="">Cửa hàng</a></li>
                    <li><a href="">Tuyển dụng</a></li>
                </ul>
            </div>
        </div>
        @*PHẦN MAIN*@
        <div class="main">
            <div class="container">
                <div class="size-4items">
                    <div class="block-title">
                        <h3 class="title-main">Cà Phê Tại Nhà</h3>
                    </div>
                    <div class="flex-wrap">
                        <div class="menu-items">
                            <div class="menu-items-image">
                                <a href=""><img src="//product.hstatic.net/1000075078/product/1684482557_bg-product-1_e9409318c09d4ad4935d1554be363429_large.jpg" /></a>
                            </div>
                            <div class="menu-items-info">
                                <h3>
                                    <a href="">Cà Phê Đen Đá Hộp (14 gói x 16g)</a>
                                </h3>
                                <div class="price-product-items">58.000 đ</div>
                            </div>
                        </div>
                        <div class="menu-items">
                            <div class="menu-items-image">
                                <a href=""><img src="//product.hstatic.net/1000075078/product/1684482444_bg-product-22_410c0caab26e43eba449e2453ac79376_large.jpg" /></a>
                            </div>
                            <div class="menu-items-info">
                                <h3>
                                    <a href="">Cà Phê Đen Đá Túi (30 gói x 16g)</a>
                                </h3>
                                <div class="price-product-items">110.000 đ</div>
                            </div>
                        </div>
                        <div class="menu-items">
                            <div class="menu-items-image">
                                <a href=""><img src="//product.hstatic.net/1000075078/product/1669707271_24lon-espresso-no_63dfa8156d2144e8aa102eefc48f41f4_large.jpg" /></a>
                            </div>
                            <div class="menu-items-info">
                                <h3>
                                    <a href="">Thùng Cà Phê Sữa Espresso</a>
                                </h3>
                                <div class="price-product-items">336.000 đ</div>
                            </div>
                        </div>
                        <div class="menu-items">
                            <div class="menu-items-image">
                                <a href=""><img src="//product.hstatic.net/1000075078/product/1669707292_6lon-espresso-no_8832893f9c0a407a83c9e3bb85cabb7a_large.jpg" /></a>
                            </div>
                            <div class="menu-items-info">
                                <h3>
                                    <a href="">Combo 6 Lon Cà Phê Sữa Espresso</a>
                                </h3>
                                <div class="price-product-items">84.000 đ</div>
                            </div>
                        </div>
                        <div class="menu-items">
                            <div class="menu-items-image">
                                <a href=""><img src="//product.hstatic.net/1000075078/product/1684727946_photo-2023-05-22-105837_979096d90a664853a9d9d2af50829674_large.jpeg" /></a>
                            </div>
                            <div class="menu-items-info">
                                <h3>
                                    <a href="">Cà Phê Rang Xay Original 1 Túi 1KG</a>
                                </h3>
                                <div class="price-product-items">235.000 đ</div>
                            </div>
                        </div>
                        <div class="menu-items">
                            <div class="menu-items-image">
                                <a href=""><img src="//product.hstatic.net/1000075078/product/1639648297_ca-phe-rang-xay-original-1-250gr_5367803728cc48e6b9c060003c6fc9e2_large.jpg" /></a>
                            </div>
                            <div class="menu-items-info">
                                <h3>
                                    <a href="">Cà Phê Rang Xay Original 1 250g</a>
                                </h3>
                                <div class="price-product-items">60.000 đ</div>
                            </div>
                        </div>
                        <div class="menu-items">
                            <div class="menu-items-image">
                                <a href=""><img src="//product.hstatic.net/1000075078/product/cpsd-3in1_971575_e6f4dce28c7e40249c45a6a76a7cfbc2_large.jpg" /></a>
                            </div>
                            <div class="menu-items-info">
                                <h3>
                                    <a href="">Cà Phê Sữa Đá Hòa Tan (10 gói x 22g)</a>
                                </h3>
                                <div class="price-product-items">44.000 đ</div>
                            </div>
                        </div>
                        <div class="menu-items">
                            <div class="menu-items-image">
                                <a href=""><img src="//product.hstatic.net/1000075078/product/1639648355_ca-phe-sua-da-hoa-tan-tui-25x22gr_54030c7dd21b482d9f7e7df3808e68db_large.jpg" /></a>
                            </div>
                            <div class="menu-items-info">
                                <h3>
                                    <a href="">Cà Phê Sữa Đá Hòa Tan Túi 25x22G</a>
                                </h3>
                                <div class="price-product-items">99.000 đ</div>
                            </div>
                        </div>
                        <div class="menu-items">
                            <div class="menu-items-image">
                                <a href=""><img src="//product.hstatic.net/1000075078/product/1639648313_ca-phe-sua-da-hoa-tan-dam-vi-viet_8d7a399b5dc54d0eb5e1894ffdcee324_large.jpg" /></a>
                            </div>
                            <div class="menu-items-info">
                                <h3>
                                    <a href="">Cà Phê Hoà Tan Đậm Vị Việt (18 gói x 16 gam)</a>
                                </h3>
                                <div class="price-product-items">48.000 đ</div>
                            </div>
                        </div>
                        <div class="menu-items">
                            <div class="menu-items-image">
                                <a href=""><img src="//product.hstatic.net/1000075078/product/1669707374_1642353251-ca-phe-dam-vi-viet-tui-new_763f0ec649c04a8cae7b80d3af70ec3f_large.jpg" /></a>
                            </div>
                            <div class="menu-items-info">
                                <h3>
                                    <a href="">Cà Phê Hòa Tan Đậm Vị Việt Túi 40x16G</a>
                                </h3>
                                <div class="price-product-items">99.000 đ</div>
                            </div>
                        </div>
                        <div class="menu-items">
                            <div class="menu-items-image">
                                <a href=""><img src="//product.hstatic.net/1000075078/product/p6-lon-3in1_717216_43b3357f280c45dd8323b9687b4b41b7_large.jpg" /></a>
                            </div>
                            <div class="menu-items-info">
                                <h3>
                                    <a href="">Cà Phê Sữa Đá Pack 6 Lon</a>
                                </h3>
                                <div class="price-product-items">84.000 đ</div>
                            </div>
                        </div>
                        <div class="menu-items">
                            <div class="menu-items-image">
                                <a href=""><img src="//product.hstatic.net/1000075078/product/24-lon-cpsd_225680_4936d84436a9487781ebf8ad2e4d7db3_large.jpg" /></a>
                            </div>
                            <div class="menu-items-info">
                                <h3>
                                    <a href="">Thùng 24 Lon Cà Phê Sữa Đá</a>
                                </h3>
                                <div class="price-product-items">336.000 đ</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*PHẦN FOOTER*@
        <footer id="footer">
            <div class="container">
                <div class="footer-item">
                    <div class="col-1">
                        <h3>Giới thiệu</h3>
                        <ul>
                            <li><a href="">Về chúng tôi</a></li>
                            <li><a href="">Sản phẩm</a></li>
                            <li><a href=""</a>Khuyến mãi</li>
                            <li><a href="">Chuyện cà phê</a></li>
                            <li><a href="">Cửa hàng</a></li>
                            <li><a href="">Tuyển dụng</a></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <h3>Điều khoản</h3>
                        <ul>
                            <li><a href="">Điều khoản sử dụng</a></li>
                            <li><a href="">Chính sách bảo mật thông tin</a></li>
                            <li><a href="">Hướng dẫn xuất hóa đơn GTGT</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <div class="hotline-footer">
                            <h3><img style="margin-right:8px" src="https://file.hstatic.net/1000075078/file/phone_0a42df1c753c4fa0910108daa73fe2ef.png">Đặt hàng: 1800 6936</h3>
                            <h3><img style="margin-right:8px" src="https://file.hstatic.net/1000075078/file/map-pin-2-line_575ccb91b6f94a308d1bd507d4ae72a7.png">Liên hệ</h3>
                        </div>
                        <div class="address-footer">
                            <p>
                                Tầng 3-4 Hub Building<br />
                                195/10E Điện Biên Phủ, P.15,<br />
                                Q.Bình Thạnh, TP.Hồ Chí Minh
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="page-fb">
                            <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/The.Coffee.House.2014/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=363772567412181&amp;container_width=210&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FThe.Coffee.House.2014%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false">
                                <span style="vertical-align: bottom; width: 210px; height: 130px;">
                                    <iframe name="f2ca58dd65df45" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.0/plugins/page.php?adapt_container_width=true&amp;app_id=363772567412181&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3a3a0b559a358%26domain%3Dthecoffeehouse.com%26is_canvas%3Dfalse%26origie=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false" style="border: none; visibility: visible; width: 210px; height: 130px;" class=""></iframe>
                                </span>
                            </div>
                        </div>
                        <ul class="icon-ig-fb">
                            <li><a href="https://www.facebook.com/The.Coffee.House.2014/"><img src="https://file.hstatic.net/1000075078/file/test_fd4e30831d14438f9d0f1fcf255dfadb.svg"></a></li>
                            <li><a href="https://www.instagram.com/thecoffeehousevn/"><img src="https://file.hstatic.net/1000075078/file/test_db37bb3840ac45f3a0a3cf7aa8a57d9e.svg" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row-2">
                    <hr style="margin: 20px 0; border: 0; border-top: 1px solid #eee" />
                </div>
            </div>
            <div class="container">
                <div class="row-3">
                    <ul>
                        <li>Công ty cổ phần thương mại dịch vụ Trà Cà Phê VN</li>
                        <li>Mã số DN: 0312867172 do sở kế hoạch và đầu tư tp. HCM cấp ngày 23/07/2014. Người đại diện: NGÔ NGUYÊN KHA</li>
                        <li>Địa chỉ: 86-88 Cao Thắng, phường 04, quận 3, tp Hồ Chí Minh   Điện thoại: (028) 7107 8079   Email: hi@thecoffeehouse.vn</li>
                        <li>© 2014-2022 Công ty cổ phần thương mại dịch vụ Trà Cà Phê VN mọi quyền bảo lưu</li>
                    </ul>
                </div>
            </div>
        </footer>
        <div>
            @RenderBody()
        </div>
</body>
</html>
