<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="//theme.hstatic.net/1000075078/1001099126/14/favicon.png?v=40" type="image/png" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Coffe House</title>
    <link rel="stylesheet" href="~/Content/CssTrangchu.css">
</head>

<body>
    <div class="containerfull padd20">
        <div class="container2">
            <div class="box2">150 Cửa hàng khắp cả nước</div>
            <div class="box2">Đặt hàng: 1800.6936 </div>
        </div>

        <div class="container">

            <div class="logo col2"><img src="~/img/The-Coffee-House-Logo-PNG-2.png" height="50" , alt=""></div>
            <div class="menu col8">
                <a href="#">TRANG CHỦ</a>
                <a href="#">GIỚI THIỆU</a>
                <a href="sanpham.html">SẢN PHẨM</a>
                <a href="#">DỊCH VỤ</a>
                <a href="#">LIÊN HỆ</a>
            </div>
        </div>
    </div>
    <div class="containerfull">
        <div class="slide-show">
            <div class="list-images">
                <img src="~/img/banner logo.webp">
                <img src="~/img/banner_logo2.webp">
                <img src="~/img/banner_logo3.webp">
                <img src="~/img/banner_logo4.webp">
            </div>
            <script src="~/Scripts/JsTrangchu.js"></script>
        </div>
        <!-- <img src="images/banner logo.webp" alt=""> -->
    </div>

    <!-- box50%-25-25 -->
    <section class="containerfull">
        <div class="container">
            <h1>SẢN PHẨM HOT</h1><br>
            <div class="containerfull">
                <div class="box50 mr15">
                    <img src="~/img/banner2.webp" alt="">
                </div>
                <div class="box25 mr15">
                    <img src="~/img/box25 hanh nhan nuong.webp" alt="">
                    <span class="content">CloudFee Hạnh Nhân Nướng </span>
                    <span class="price">49.000 đ</span>
                    <button>Đặt hàng</button>
                </div>
                <div class="box25 mr15">
                    <img src="~/img/sua da.webp" alt="">
                    <span class="content">The Coffee House Sữa Đá</span>
                    <span class="price">39.000 đ</span>
                    <button>Đặt hàng</button>
                </div>
            </div>

            <!-- 4 box nhỏ -->
            <div class="containerfull mr30">
                <h1>SẢN PHẨM MỚI</h1><br>
                <div class="box25 mr15">
                    <img src="~/img/sp1.webp" alt="">
                    <span class="content">Hi-Tea Vải </span>
                    <span class="price">49.000 đ</span>
                    <button>Đặt hàng</button>
                </div>
                <div class="box25 mr15">
                    <img src="~/img/sp2.webp" alt="">
                    <span class="content">Cà Phê Sữa Đá </span>
                    <span class="price">29.000 đ</span>
                    <button>Đặt hàng</button>
                </div>
                <div class="box25 mr15">
                    <img src="~/img/sp3.webp" alt="">
                    <span class="content">Bánh Mì VN Thịt Nguội </span>
                    <span class="price">35.000 đ</span>
                    <button>Đặt hàng</button>
                </div>
                <div class="box25 mr15">
                    <img src="~/img/sp4.webp" alt="">
                    <span class="content">Mochi Kem Chocolate </span>
                    <span class="price">19.000 đ</span>
                    <button cl>Đặt hàng</button>
                </div>
            </div>
        </div>
    </section>


    <section class="containerfull padd50">
        <div class="containerfull">
            <div class="containerfull">
                <img src="~/img/section 2.webp" alt="">
            </div>
            <div class="wrapper">
                <img src="~/img/tra_xanh_tay_bac.webp" alt="">
                <p class="caption">
                    Được trồng trọt và chăm chút kỹ lưỡng, nuôi dưỡng từ thổ nhưỡng phì nhiêu, nguồn nước mát lành, bao bọc bởi mây và sương cùng nền nhiệt độ mát mẻ quanh năm, những búp trà ở Tây Bắc mập mạp và xanh mướt, hội tụ đầy đủ dưỡng chất, sinh khí, và tinh hoa đất trời.Chính khí hậu đặc trưng cùng phương pháp canh tác của đồng bào dân tộc nơi đây đã tạo ra Trà Xanh vị mộc dễ uống, dễ yêu, không thể trộn lẫn với bất kỳ vùng miền nào khác.
                </p>
                <button>Thử ngay</button>
            </div>
        </div>
    </section>

    <section class="containerfull padd50">
        <div class="boxleft_bgw mr5pt">
            <div class="boxleft_bgw_left">
                <h2>TCH The Grand View</h2>
                <p>
                    Được trồng trọt và chăm chút kỹ lưỡng, nuôi dưỡng từ thổ nhưỡng phì nhiêu, nguồn nước mát lành, bao bọc bởi mây và sương cùng nền nhiệt độ mát mẻ quanh năm, những búp trà ở Tây Bắc mập mạp và xanh mướt, hội tụ đầy đủ dưỡng chất, sinh khí, và tinh hoa đất trời.Chính khí hậu đặc trưng cùng phương pháp canh tác của đồng bào dân tộc nơi đây đã tạo ra Trà Xanh vị mộc dễ uống, dễ yêu, không thể trộn lẫn với bất kỳ vùng miền nào khác.
                </p>
                <button>Thử ngay</button>
            </div>
        </div>
        <div class="boxright_bgw">
            <img src="~/img/banner2.webp" alt="">
        </div>
    </section>

    <section class="containerfull bg1 padd50">
        <div class="container">
            <h1>Chuyện Nhà</h1>
            <div class="row">
                <h2>Coffeeholic</h2>
            </div>
            <div class="row">
                <div class="boxnews mr2pt">
                    <img src="~/img/Coffeeholic1.webp" alt="">
                    <p>12/02/2023</p>
                    <p><a href="#">SIGNATURE - BIỂU TƯỢNG VĂN HOÁ CÀ PHÊ CỦA...</a></p>
                    <p>Mới đây, các "tín đồ" cà phê đang bàn tán xôn xao về SIGNATURE - Biểu tượng văn hóa cà phê của The Coffee House đã quay trở lại.Một lời...</p>
                </div>
                <div class="boxnews mr2pt">
                    <img src="~/img/Coffeeholic2.webp" alt="">
                    <p>09/02/2023</p>
                    <p><a href="#">UỐNG GÌ KHI TỚI SIGNATURE BY THE COFFEE...</a></p>
                    <p>Vừa qua, The Coffee House chính thức khai trương cửa hàng SIGNATURE by The Coffee House, chuyên phục vụ cà phê đặc sản, các món ăn đa bản sắc ấy...</p>
                </div>
                <div class="boxnews">
                    <img src="~/img/Coffeeholic3.webp" style="height:250px"  alt="">
                    <p>09/02/2023</p>
                    <p><a href="#">CÀ PHÊ SỮA ESPRESSO THE COFFEE HOUSE - BẬT...</a></p>
                    <p>Cà phê sữa Espresso là một lon cà phê sữa giải khát với hương vị cà phê đậm đà từ 100% cà phê Robusta cùng vị sữa béo nhẹ cho bạn một trải nghiệm...</p>
                </div>
            </div>
            <div class="row">
                <h2>Teaholic</h2>
            </div>
            <div class="row">
                <div class="boxnews mr2pt">
                    <img src="~/img/Teaholic1.webp" alt="">
                    <p>16/01/2023</p>
                    <p><a href="#">BỘ SƯU TẬP CẦU TOÀN KÈO THƠM: "VÍA" MAY MẮN...</a></p>
                    <p>Tết nay vẫn giống Tết xưa, không hề mai một nét văn hoá truyền thống mà còn thêm vào những hoạt động “xin vía” hiện đại, trẻ trung. Ví như...</p>
                </div>
                <div class="boxnews mr2pt">
                    <img src="~/img/Teaholic2.webp" alt="">
                    <p>16/08/2022</p>
                    <p><a href="#">“KHUẤY ĐỂ THẤY TRĂNG" - KHUẤY LÊN NIỀM HẠNH PHÚC...</a></p>
                    <p>Năm 2022 là năm đề cao sức khỏe tinh thần nên giới trẻ muốn tận hưởng một Trung thu với nhiều trải nghiệm mới mẻ, rôm rả cùng bạn bè...</p>
                </div>
                <div class="boxnews">
                    <img src="~/img/Teaholic3.webp" alt="">
                    <p>12/08/2022</p>
                    <p><a href="#">“KHUẤY ĐỂ THẤY TRĂNG” - HOT TREND MỞ MÀN...</a></p>
                    <p>“Khuấy để thấy trăng” - trải nghiệm “ có 1 không 2” được The Coffee House tung ra cho mùa trung thu năm nay, hứa hẹn làm giới trẻ háo...</p>
                </div>
            </div>
            <div class="row">
                <h2>Blog</h2>
            </div>
            <div class="row">
                <div class="boxnews mr2pt">
                    <img src="~/img/Blog1.webp" alt="">
                    <p>16/08/2023</p>
                    <p><a href="#">NGƯỢC LÊN TÂY BẮC GÓI VỊ MỘC VỀ XUÔI</a></p>
                    <p>Những dải ruộng bậc thang, các cô gái Thái với điệu múa xòe hoa, muôn cung đường ngợp mùa hoa… đó là rẻo cao Tây Bắc luôn làm say lòng...</p>
                </div>
                <div class="boxnews mr2pt">
                    <img src="~/img/Blog2.webp" alt="">
                    <p>10/07/2023</p>
                    <p><a href="#">ĐI "VAY LẠNH" - TỪ VỰNG HẸN HÒ MỚI NỔI, CẬP...</a></p>
                    <p>Đi “vay lạnh” - từ vựng hẹn hò mới nổi, cập nhật ngay kẻo lỗi thời  Nếu “đi trà sữa”, “đi đu đưa”... đã trở thành những lời rủ rê...</p>
                </div>
                <div class="boxnews">
                    <img src="~/img/Blog3.webp" alt="">
                    <p>01/07/2023</p>
                    <p><a href="#">NGHE NHÀ MÁCH NHỎ BÍ KÍP HEALTHY GỌN NHẸ,...</a></p>
                    <p>Sống lành mạnh (healthy) đang là xu hướng được nhiều người trẻ ưa chuộng. Tuy nhiên, không đơn thuần là việc chăm chút đi theo các chế độ ăn uống...</p>
                </div>
            </div>
        </div>
    </section>


    <footer class="containerfull padd50">
        Copyright&copy;2023. Thanh Hiền-Minh Trung-Tuấn Duy
    </footer>
        @RenderBody()
</body>
</html>
