<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/CssCaPhe.css" rel="stylesheet" />
    
</head>
<body>
    <div class="app">
        @*PHẦN HEADER ĐẦU*@
        <div class="header-first">
            <div class="container">
                <div class="header-inner">
                    <div class="box2">
                        <a href="">
                            <img src="https://file.hstatic.net/1000075078/file/vector_706a88566eab4f009bed6eea93cd890b.png" />
                            <span>150 cửa hàng khắp cả nước</span>
                        </a>
                    </div>
                    <div class="box2">
                        <a href="">
                            <img src="https://file.hstatic.net/1000075078/file/group_8de276faa50c486b9d485826c506803b.png" />
                            <span style="text-decoration: none">Đặt hàng: 1800.6936</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        @*PHẦN NAV*@
        <div class="header-second">
            <div class="logo-warp">
                <div class="logo">
                    <img style="height:100px;width:200px;" src="~/img/The-Coffee-House-Logo-PNG-2.png" />
                </div>
                <ul class="header-nav">
                    <li><a href="">Cà phê</a></li>
                    <li><a href="">Trà</a></li>
                    <li><a href="">Menu</a></li>
                    <li><a href="">Chuyện Nhà</a></li>
                    <li><a href="">Cảm hứng CloudFee</a></li>
                    <li><a href="">Cửa hàng</a></li>
                    <li><a href="">Tuyển dụng</a></li>
                </ul>
            </div>
        </div>
       @RenderBody()
        @*PHẦN FOOTER*@
        <footer id="footer">
            <div class="container">
                <div class="footer-item">
                    <div class="col-1">
                        <h3>Giới thiệu</h3>
                        <ul>
                            <li><a href="">Về chúng tôi</a></li>
                            <li><a href="">Sản phẩm</a></li>
                            <li><a href=""</a>Khuyến mãi</li>
                            <li><a href="">Chuyện cà phê</a></li>
                            <li><a href="">Cửa hàng</a></li>
                            <li><a href="">Tuyển dụng</a></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <h3>Điều khoản</h3>
                        <ul>
                            <li><a href="">Điều khoản sử dụng</a></li>
                            <li><a href="">Chính sách bảo mật thông tin</a></li>
                            <li><a href="">Hướng dẫn xuất hóa đơn GTGT</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <div class="hotline-footer">
                            <h3><img style="margin-right:8px" src="https://file.hstatic.net/1000075078/file/phone_0a42df1c753c4fa0910108daa73fe2ef.png">Đặt hàng: 1800 6936</h3>
                            <h3><img style="margin-right:8px" src="https://file.hstatic.net/1000075078/file/map-pin-2-line_575ccb91b6f94a308d1bd507d4ae72a7.png">Liên hệ</h3>
                        </div>
                        <div class="address-footer">
                            <p>
                                Tầng 3-4 Hub Building<br />
                                195/10E Điện Biên Phủ, P.15,<br />
                                Q.Bình Thạnh, TP.Hồ Chí Minh
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="page-fb">
                            <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/The.Coffee.House.2014/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=363772567412181&amp;container_width=210&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FThe.Coffee.House.2014%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false">
                                <span style="vertical-align: bottom; width: 210px; height: 130px;">
                                    <iframe name="f2ca58dd65df45" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.0/plugins/page.php?adapt_container_width=true&amp;app_id=363772567412181&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3a3a0b559a358%26domain%3Dthecoffeehouse.com%26is_canvas%3Dfalse%26origie=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false" style="border: none; visibility: visible; width: 210px; height: 130px;" class=""></iframe>
                                </span>
                            </div>
                        </div>
                        <ul class="icon-ig-fb">
                            <li><a href="https://www.facebook.com/The.Coffee.House.2014/"><img src="https://file.hstatic.net/1000075078/file/test_fd4e30831d14438f9d0f1fcf255dfadb.svg"></a></li>
                            <li><a href="https://www.instagram.com/thecoffeehousevn/"><img src="https://file.hstatic.net/1000075078/file/test_db37bb3840ac45f3a0a3cf7aa8a57d9e.svg" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row-2">
                    <hr style="margin: 20px 0; border: 0; border-top: 1px solid #eee" />
                </div>
            </div>
            <div class="container">
                <div class="row-3">
                    <ul>
                        <li>Công ty cổ phần thương mại dịch vụ Trà Cà Phê VN</li>
                        <li>Mã số DN: 0312867172 do sở kế hoạch và đầu tư tp. HCM cấp ngày 23/07/2014. Người đại diện: NGÔ NGUYÊN KHA</li>
                        <li>Địa chỉ: 86-88 Cao Thắng, phường 04, quận 3, tp Hồ Chí Minh   Điện thoại: (028) 7107 8079   Email: hi@thecoffeehouse.vn</li>
                        <li>© 2014-2022 Công ty cổ phần thương mại dịch vụ Trà Cà Phê VN mọi quyền bảo lưu</li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
